@import "../imports/ui/timeline/timeline.less";
@import "../imports/ui/loader/loader.less";

@primary-color: #016131;
@primary-color-text: #016131;
@active-color: #0f7903;
@active-color-text: #ffffff;
@active-color-shadow: #98C5AB;
@secondary-color: #b2200d;
@secondary-color-text: #ffffff;

.primary-color {
    background-color: @primary-color !important;
}

.primary-color-text {
    color: @primary-color-text !important;
}

.secondary-color {
    background-color: @secondary-color !important;
}

.secondary-color-text {
    color: @secondary-color-text !important;
}

.brand-logo{
  font-family: 'Gorditas', Arial, sans-serif;
}

.logo-home{
  font-family: 'Gorditas', Arial, sans-serif;
}

h5{
  font-weight:bold;  
}

nav.navbar.shrink {
  min-height: 35px;
}
  
nav.navbar{
  background-color:#ccc;
  // Animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mdi{
  &.logo-icon{
    display:inline;
    padding:0px;
    margin:0px;
    color:@secondary-color;
    font-size:0.8em;
  }  
}

.fa{
  &.logo-icon{
    font-size:0.7em;
    padding:3px;
  }  
}

.side-nav{
  a{
    &.active{
      background-color:@active-color;
      color:@active-color-text;
    }
    &:hover{
      background-color:@primary-color;
      color:@active-color-text!important;
    }
  }
}

a{
  &.active{
    background-color:@active-color;
    color:@active-color-text;
  }  
}

i{
  &.nav-icon{
    font-size:1.3em;
  }
}

.footer-copyright{
  font-size:11px; 
}