<template name="timeline">
  <div class="container">
    <div class="section timeline-section">
      <header id="timeline-header" class="clearfix">
        {{#transition in="bounceInDown" out="bounceOutDown"}}
        <h2 class="animated out">Timeline of topics in UK Public General Acts, since <span class="range-start-year">{{getStartYear}}</span> until <span class="range-end-year">{{getEndYear}}</span></h2>
        <h6>
          Click on bubbles to see Acts enacted in clicked year. 
        </h6>
        <h6>
          Click on check boxes to see all topics in clicked year. 
        </h6>
        <h6>
          Click on topics to see all documents of that year having the clicked topic. 
        </h6>
        <h6>
          Click on button below to change years range. 
        </h6>
        {{/transition}}
        <div class="row">
<!--          <form class="col s12" action="#">
            <p class="range-field">
              <label for="start-year" class="primary-color-text">Select the start year. The current one is <span class="range-start-year">{{getStartYear}}</span></label>
              <input value="1981" name="start-year" class="primary-color period-select" type="range" id="start-year" min="1801" max="2016" />
              <label for="end-year" class="primary-color-text">Select the end year. The current one is <span class="range-end-year">{{getEndYear}}</span></label>
              <input value="2016" name="end-year" class="primary-color period-select" type="range" id="end-year" min="1801" max="2016" />
            </p>
            <p>
              <input class="keywords-type with-gap" name="keywords-type" type="radio" id="keywords-tags-radio" checked="checked"/>
              <label class="primary-color-text" for="keywords-tags-radio">Topics extracted from AkomaNtoso "keyword" element</label>
              <input class="keywords-type with-gap" name="keywords-type" type="radio" id="keywords-short-titles-radio" />
              <label class="primary-color-text" for="keywords-short-titles-radio">Topics extracted with NLP from Akoma Ntoso "shortTitle" element.</label>
            </p>
          </form> -->
        </div>
        <!--<h2 class="animated out"><span>Topics {{getKeywordsType}}, since <span class="range-start-year">{{getStartYear}}</span> until <span class="range-end-year">{{getEndYear}}</span></span></h2>-->
        <div class="filter-button-container center-align">
          <a class="btn primary-color center-align modal-trigger" href="#modal1"><i class="mdi mdi-settings left"></i>Click to change years range!</a>
        </div>
         <div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
          <a class="btn-floating btn-large secondary-color">
            <i class="mdi mdi-menu"></i>
          </a>
          <ul>
            <li><a class="btn-floating secondary-color scroll-top-button"><i class="mdi mdi-arrow-up-bold-circle"></i></a></li>
            <li><a class="btn-floating secondary-color scroll-down-button"><i class="mdi mdi-arrow-down-bold-circle"></i></a></li>
            <li><a class="btn-floating secondary-color modal-trigger" href="#modal1"><i class="mdi mdi-settings"></i></a></li>
          </ul>
        </div>
        <!--  <div class="divider"></div> -->
      </header>
      <section class="main">
        {{> loader}}
        {{#if Template.subscriptionsReady}}
        {{#animate type="bounce" delay=200}}
        <ul class="timeline">
          {{#transition in="bounceInLeft" out="bounceOutRight"}}
          {{#each years}}
          <li class="event animated out">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb" data-year="{{value}}">
              <span>{{value}}</span>
            </div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  {{#each topKeywords}}
                  <div class="topKeywords">
                    <div class="chip" data-year="{{../value}}" data-topic="{{value}}">
                      <div class="frequency">
                        {{frequency}}
                      </div>
                      {{value}}
                    </div>
                  </div>
                  {{else}}
                  <h3>No keywords</h3>
                  {{/each}}
                  <div class="keywords">
                  {{#each keywords}}
                  <div class="chip" data-year="{{../value}}" data-topic="{{value}}">
                    <div class="frequency">
                      {{frequency}}
                    </div>
                    {{value}}
                  </div>
                  {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </li> 
          {{/each}}
          {{/transition}}
        </ul>
        {{/animate}}
        {{/if}}
        </section>
    </div>
  </div>
  <div id="modal1" class="modal top-sheet">
    <div class="modal-content">
      <div class="row">
      <form class="col s12" action="#">
          <p class="range-field">
            <label for="start-year" class="primary-color-text">Select the start year. The current one is <span class="range-start-year">{{getStartYear}}</span></label>
            <input value="1981" name="start-year" class="period-select" type="range" id="start-year" min="1801" max="2016" />
            <label for="end-year" class="primary-color-text">Select the end year. The current one is <span class="range-end-year">{{getEndYear}}</span></label>
            <input value="2016" name="end-year" class="period-select" type="range" id="end-year" min="1801" max="2016" />
          </p>
<!--          <p>
            <input class="keywords-type with-gap primary-color-text" name="keywords-type" type="radio" id="keywords-tags-radio" checked="checked"/>
            <label class="primary-color-text" for="keywords-tags-radio">Topics extracted from AkomaNtoso "keyword" element</label>
            <input class="keywords-type with-gap primary-color-text" name="keywords-type" type="radio" id="keywords-short-titles-radio" />
            <label class="primary-color-text" for="keywords-short-titles-radio">Topics extracted with NLP from Akoma Ntoso "shortTitle" element.</label>
          </p> -->
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat primary-color-text">Done!</a>
    </div>
  </div>
  <div id="modal2" class="modal top-sheet">
    <div class="modal-content">
      <div class="row">
        <h4 class="primary-color-text">In the selected years the following acts were enacted (click an act to open it):</h4>
        <div class="collection">
        {{#if Template.subscriptionsReady}}
          {{#each getDocumentsForYears}}
            {{#each occurrencies}}
              <a class="collection-item primary-color-text" href="{{uri}}" target="_blank">{{short_title}}</a>
            {{/each}}
          {{/each}}
        {{/if}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat primary-color-text">Done!</a>
    </div>
  </div>
  <div id="modal3" class="modal top-sheet">
    <div class="modal-content">
      <div class="row">
        <h4 class="primary-color-text">The following acts have the selected topic (click an act to open it):</h4>
        <div class="collection">
        {{#if Template.subscriptionsReady}}
          {{#each getDocumentsForTopicYear}}
            {{#each occurrencies}}
              <a class="collection-item primary-color-text" href="{{uri}}" target="_blank">{{short_title}}</a>
            {{/each}}
          {{/each}}
        {{/if}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat primary-color-text">Done!</a>
    </div>
  </div>
</template>