.timeline-section{
  
  header{
	  width: 100%;
	  max-width: 1060px;
	  margin: 0 auto;
	  padding: 0 30px;
  	padding: 30px 30px 0px 30px;
  	/*font-family: 'Gorditas', Arial, sans-serif;*/
  	
  	.clearfix{
      zoom: 1;
  	  
  	  &:after{
        clear: both;
  	  }
  	  &:before,&:after{
        content: " ";
        display: table;
  	  }
  	}

    .period-select{
      background-color:@primary-color;
      color:@primary-color;
    }
    
  	h1{
	    margin: 0;
	    font-weight: 400;
	    color: @primary-color;
  	  font-size: 13px; 
  	  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
  	  
  	  span{
      	color: @secondary-color;
  	  }
    }
    
    h2{
    	padding: 10px 0;
    	margin: 0;
    	font-size: 43px;
    	line-height: 41px;
    	color: #fff;
    	font-weight: bold;
    	position: relative;
    	color:@primary-color-text;
    	/*text-shadow: 4px 4px 0px @active-color-shadow;*/
    
      /*>span{
      	display: block;
      	font-weight: 700;
      	text-transform: uppercase;
      	letter-spacing: 5px;
      	font-size: 13px;
      	color: @secondary-color;
      	text-shadow: none;
      }*/
    }
    
    h6{
      color:@secondary-color;  
    }
    
    .divider{
      height:5px;
      width:100%;
      /*background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2P8DwSMQMCABBhBgiA+sgRYBboEXBuyBIpZMAkAW1YUAh9deX8AAAAASUVORK5CYII=) repeat-x bottom left;
    	background-color:@primary-color;*/
    }
  }
}

.timeline{
	position: relative;
	list-style-type: none;
	padding: 30px 0 50px 0;
	font-family: 'Gorditas', Arial, sans-serif;

  .thumb{
    cursor:pointer;  
  }
  
  *{
    &:after,&:before{ 
  	  -webkit-box-sizing: border-box;
  	  -moz-box-sizing: border-box;
  	  box-sizing: border-box;
  	  padding: 0;
  	  margin: 0;
    }
  }

  &:before {
	  content: '';
	  position: absolute;
	  width: 5px;
	  height: 100%;
	  /*top: 201px;*/
	  left: 165px;
	  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/gYARWQwkAOLDBeECjEAAkkEWAKtEFwAJAgAZEBP+oM1IkwAAAABJRU5ErkJggg==);
    background-color:@primary-color;
    
  }

  .event{
  	position: relative;
    margin-bottom: 80px;
    padding-right: 40px;

    label,input[type="radio"]{
    	width: 24px;
    	height: 24px;
    	left: 157px;
    	top: 36px;
    	position: absolute;
	    display: block;
    	background-color: @active-color-text;
    }

    input[type="radio"]{
    	opacity: 0;
    	z-index: 10;
    	cursor: pointer;  
    	background-color: @primary-color;
    }

    label{
      -webkit-backface-visibility: hidden;
      padding-left: 0px;
      &:after {
      	font-family: FontAwesome;
      	content: '\f05d';
      	background: #fff;
      	border-radius: 50%;
        border: none;
      	color: @primary-color;
      	font-size: 26px;
      	height: 100%;
      	width: 100%;
      	left: 0px;
      	line-height: 24px;
      	position: absolute;
      	text-align: center;
        transform: none;
        z-index: initial;
        margin: 0;
      }
      &:before {
        border: none;
      }
    }
    
    .content-inner{
      
      .topKeywords{
        .chip {
      	  font-size: 20px;
      	  cursor:pointer;
          
          .frequency {
    	       background-color: @secondary-color;
    	       color:@secondary-color-text;
          }
        }
      }
      
      .chip{
        cursor:pointer;
         
        .frequency{
          border-radius: 50%;
          float: left;
          height: 32px;
          margin: 0 8px 0 -12px;
          width: 32px;
          display: inline-block;
          text-align: center;
        }
      }
    }

    input[type="radio"]:checked{
      +label:after {
      	content: '\f058';
      	color: @secondary-color;
      	box-shadow: 0 0 0 5px fade(@active-color, 80%);
        z-index: 10;
        top: -3px;
      }      

      ~.thumb {
      	-webkit-transform: scale(1);
      	-moz-transform: scale(1);
      	-o-transform: scale(1);
      	-ms-transform: scale(1);
      	transform: scale(1);
      	box-shadow: 
      		0 0 0 8px @secondary-color, 
      		0 1px 1px rgba(255,255,255,0.5);
        
        &:before{
        	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAOfUjX+882+wYgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQBbNyaHFmzEqgAAAABJRU5ErkJggg==);
          background-color:@secondary-color;  
        }
        
        span{
	        color: @secondary-color;
        	-webkit-backface-visibility: hidden;
        }
      }
      
      ~.content-perspective{
        &:before {
      	  background: @secondary-color;
        }
        .content-inner{ 
          .topKeywords {
	          color: @secondary-color-text;
          }
          .keywords{
            -webkit-backface-visibility: hidden;
          }
        }
        .content {
        	-webkit-transform: rotateY(-5deg);
        	-moz-transform: rotateY(-5deg);
        	-o-transform: rotateY(-5deg);
        	-ms-transform: rotateY(-5deg);
        	transform: rotateY(-5deg);
        }
        
        .content-inner {
        	color:@secondary-color-text;
        	box-shadow: 20px 10px 10px -6px @active-color-shadow;
        	
        	&:before {
	          color: @secondary-color;
          }
          
        	.keywords {
          	max-height: 260px; 
          	color: rgba(0,0,0,0.6);
          	-webkit-transition-delay: 0s, 0.3s;
          	-moz-transition-delay: 0s, 0.3s;
          	-o-transition-delay: 0s, 0.3s;
          	-ms-transition-delay: 0s, 0.3s;
          	transition-delay: 0s, 0.3s;
          }
        }
      }
    } 

    .thumb {
    	position: absolute;
    	width: 100px;
    	height: 100px;
    	box-shadow: 
    		0 0 0 8px @primary-color, 
    		0 1px 1px rgba(255,255,255,0.5);
    	background-repeat: no-repeat;
      background-color: white;
    	border-radius: 50%;
    	-webkit-transform: scale(0.8) translateX(24px);
    	-moz-transform: scale(0.8) translateX(24px);
    	-o-transform: scale(0.8) translateX(24px);
    	-ms-transform: scale(0.8) translateX(24px);
    	transform: scale(0.8) translateX(24px);
    
      &:before{
      	content: '';
      	position: absolute;
      	height: 8px;
      	z-index: -1;
      	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPElEQVQYV2NkQAP/gYARCNDFUQRgirAphitEl0TngxXisg5ZnBGXIpgbYfIYjkb3BNxGbBLYxIgyEaQRAA8KKAWYsZtjAAAAAElFTkSuQmCC);
      	width: 51px;
      	top: 42px;
      	left: 100%;
      	margin-left: 8px;
      	background-color: @active-color;
      }
      
      span {
      	color: @primary-color; 
      	width: 100%;
      	text-align: center;
      	font-weight: 700;
      	font-size: 15px;
      	text-transform: uppercase;
      	position: absolute;
      	bottom: -30px;
      }
    }
    .content-perspective {
    	margin-left: 230px;
    	position: relative;
    	-webkit-perspective: 600px;
    	-moz-perspective: 600px;
    	-o-perspective: 600px;
    	-ms-perspective: 600px;
    	perspective: 600px;

      &:before {
      	content: '';
      	width: 37px;
      	left: -51px;
      	top: 45px;
      	position: absolute;
      	height: 1px;
      	z-index: -1;
      	background: #fff;
      }
      
      .content {
      	-webkit-transform: rotateY(10deg);
      	-moz-transform: rotateY(10deg);
      	-o-transform: rotateY(10deg);
      	-ms-transform: rotateY(10deg);
      	transform: rotateY(10deg);
      
      	-webkit-transform-origin: 0 0;
      	-moz-transform-origin: 0 0;
      	-o-transform-origin: 0 0;
      	-ms-transform-origin: 0 0;
      	transform-origin: 0 0;
      
      	-webkit-transform-style: preserve-3d;
      	-moz-transform-style: preserve-3d;
      	-ms-transform-style: preserve-3d;
      	-o-transform-style: preserve-3d;
      	transform-style: preserve-3d;

      	-webkit-transition: -webkit-transform 0.5s cubic-bezier(.59,1.45,.69,.98) 0.2s;
      	-moz-transition: -moz-transform 0.5s cubic-bezier(.59,1.45,.69,.98) 0.2s;
      	-o-transition: -o-transform 0.5s cubic-bezier(.59,1.45,.69,.98) 0.2s;
      	-ms-transition: -ms-transform 0.5s cubic-bezier(.59,1.45,.69,.98) 0.2s;
      	transition: transform 0.5s cubic-bezier(.59,1.45,.69,.98) 0.2s;

        .content-inner {
        	position: relative;
        	padding: 20px;
        	color: #333;
        	//border: 1px solid @primary-color;
        	border-left: 5px solid @primary-color;
        	box-shadow: 0 4px 6px @active-color-shadow;
        	background: #fff;
        	-webkit-transition: box-shadow 0.5s linear 0.2s;
        	-moz-transition: box-shadow 0.5s linear 0.2s;
        	-o-transition: box-shadow 0.5s linear  0.2s;
        	-ms-transition: box-shadow 0.5s linear 0.2s;
        	transition: box-shadow 0.5s linear 0.2s;

          &:before {
          	font-family: 'fontawesome-selected';
          	content: '\25c2';
          	font-weight: normal;
          	font-size: 54px;
          	line-height: 54px;
          	position: absolute;
          	width: 30px;
          	height: 30px;
          	color: @primary-color;
          	left: -22px;
          	top: 13px;
          	z-index: -1;
          }
        	
        	p{
          	-webkit-transition: max-height 0.5s linear, color 0.3s linear;
          	-moz-transition: max-height 0.5s linear, color 0.3s linear;
          	-o-transition: max-height 0.5s linear, color 0.3s linear;
          	-ms-transition: max-height 0.5s linear, color 0.3s linear;
          	transition: max-height 0.5s linear, color 0.3s linear;
        	}
        	
        	.topKeywords {
          	font-size: 26px;
          	padding: 5px 0 5px 0;
          	color: @primary-color;
          	-webkit-transition: all 0.3s ease-in-out 0.2s;
          	-moz-transition: all 0.3s ease-in-out 0.2s;
          	-o-transition: all 0.3s ease-in-out 0.2s;
          	-ms-transition: all 0.3s ease-in-out 0.2s;
          	transition: all 0.3s ease-in-out 0.2s;
          }
          
          .keywords {
          	font-size: 18px;
          	max-height: 0px;
          	overflow: hidden;
          	color: transparent;
          	color: rgba(0,0,0,0);
          	text-align: left;
          }
        }
      }
    }
  }    
}

@media screen and (max-width: 850px) { 
  .content-inner .topKeywords {
    font-size: 20px;
  }

  .content-inner .keywords {
    font-size: 14px;
    text-align: justify;
  }

  .event input[type="radio"]:checked ~ .content-perspective .content-inner .keywords {
    max-height: 700px; 
  }
}

@media screen and (max-width: 540px) {
  .timeline {
  	&::before {
  		left: 50px;
  	}

  	.event {
  		padding-right: 0px;
  		margin-bottom: 100px;

    	.thumb {
    		-webkit-transform: scale(0.8);
    		-moz-transform: scale(0.8);
    		-o-transform: scale(0.8);
    		-ms-transform: scale(0.8);
    		transform: scale(0.8);

        span {
          bottom: 45px;
        }
    	}

    	input[type="radio"] {
    		width: 100px;
    		height: 100px;
    		left: 0px;
    		top: 0px;
    	}

    	.thumb:before,
    	input[type="radio"]:checked ~ .thumb:before {
    		background: none;
    		width: 0;
    	}

    	label {
    		display: none !important;
    	}

    	.content-perspective {
    		margin-left: 0px; 
    		top: 80px;

      	.content {
      		-webkit-transform: rotateX(-10deg);
      		-moz-transform: rotateX(-10deg);
      		-o-transform: rotateX(-10deg);
      		-ms-transform: rotateX(-10deg);
      		transform: rotateX(-10deg);

        	.content-inner {
        		border-left: none;
        		border-top: 5px solid @primary-color;
        	}

        	.content-inner:before {
        		content: '\25b4';
        		left: 33px;
        		top: -40px;
        	}
        }
      }

      .content-perspective:before {
        height: 0px; 
      }

      input[type="radio"]:checked ~ .content-perspective .content {
        -webkit-transform: rotateX(10deg);
        -moz-transform: rotateX(10deg);
        -o-transform: rotateX(10deg);
        -ms-transform: rotateX(10deg);
        transform: rotateX(10deg);
      }

      input[type="radio"]:checked ~ .content-perspective .content-inner {
        border-color: @secondary-color;
        box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.1);
      }

    	input[type="radio"]:checked ~ .content-perspective .content-inner .keywords {
    		max-height: 300px; 
    	}
      
    }
  }
}
