<template name="header">
  <div class="navbar-fixed">
    <nav class="primary-color" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="{{pathFor 'home'}}" class="brand-logo">S<i class="fa fa-smile-o logo-icon"></i>cievo<i class="mdi mdi-chart-pie logo-icon"></i>le</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="{{isActiveRoute 'timeline'}}" href="{{pathFor 'timeline'}}"><i class="mdi mdi-clock-start nav-icon"> Timeline</i></a></li>
          <li><a class="{{isActiveRoute 'team'}}" href="#"><i class="mdi mdi-account-multiple-outline nav-icon"> Team</i></a></li>
          <li><a class="{{isActiveRoute 'dataset'}}" href="#"><i class="mdi mdi-download nav-icon"> Dataset</i></a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a class="{{isActiveRoute 'timeline'}}" href="{{pathFor 'timeline'}}"><i class="mdi mdi-clock-start nav-icon"> Timeline</i></a></li>
          <li><a class="{{isActiveRoute 'team'}}" href="#"><i class="mdi mdi-account-multiple-outline nav-icon"> Team</i></a></li>
          <li><a class="{{isActiveRoute 'dataset'}}" href="#"><i class="mdi mdi-download nav-icon"> Dataset</i></a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi mdi-menu"></i></a>
      </div>
    </nav>
  </div>
</template>
