<template name="footer">
  <footer class="page-footer primary-color">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><a class="orange-text text-lighten-3" href="http://www.cirsfid.unibo.it">CIRSFID</a></h5>
          <p class="grey-text text-lighten-4">Interdepartmental Research Centre in Legal History, Legal Philosophy and Sociology and Computer Science and Law of the University of Bologna.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="http://www.cirsfid.unibo.it">CIRSFID</a></li>
            <li><a class="white-text" href="http://www.unibo.it">University of Bologna</a></li>
            <li><a class="white-text" href="http://www.akomantoso.org">Akoma Ntoso</a></li>
            <li><a class="white-text" href="http://www.legislation.gov.uk">Legislation UK</a></li>
            <li><a class="white-text" href="http://leggovuk.s3-website-eu-west-1.amazonaws.com/texts/enacted-epublished/akn/ukpga/index.htm">UK Public General Acts dataset</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Best Friends</h5>
          <ul>
            <a href="http://www.akomantoso.org"><img src="akn_logo.png" width="151" /></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container col s12">
        Developed with <i class="mdi mdi-heart"></i>, bread and <a href="https://www.meteor.com">Meteor</a> by <a class="orange-text text-lighten-3" href="mailto:monica.palmirani@unibo.it">Monica Palmirani</a>,
       <a class="orange-text text-lighten-3" href="mailto:luca.cervone@unibo.it">Luca Cervone</a>,
       <a class="orange-text text-lighten-3" href="mailto:octavian.bujor@unibo.it">Octavian Bujor</a>,
       <a class="orange-text text-lighten-3" href="mailto:francesco.draicchio@unibo.it">Francesco Draicchio</a>. @
       <a class="orange-text text-lighten-3" href="http://www.cirsfid.unibo.it">CIRSFID</a> - <a class="orange-text text-lighten-3" href="http://www.unibo.it">University of Bologna</a>.
       
      </div>
    </div>
  </footer>
</template>