<template name="mainLayout">
  <head>
    <title>ukViz</title>
  </head>
  <body>
    {{>header}}
    {{#momentum plugin="fade"}}
    {{#if Template.subscriptionsReady}}
      {{> Template.dynamic template=main}}
    {{else}}
      {{>loader }}
    {{/if}}
    {{/momentum}}
    {{>footer}}
  </body>
</template>
