<template name="home">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center gray darken-4"><span class="logo-home primary-color-text">S<i class="fa fa-smile-o logo-icon"></i>cievo<i class="mdi mdi-chart-pie logo-icon"></i>le</span></h1>
      <div class="row center">
        <h4 class="header col s12 light">SOCIal Evolution and Visualization Of Legal acts</h4>
      </div>
      <div class="row center">
        <a href="{{pathFor 'timeline'}}" id="download-button" class="btn-large waves-effect waves-light primary-color"><i class="mdi mdi-clock-start nav-icon"></i> Go to the topics' timeline!</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center primary-color-text"><i class="mdi mdi-clock-start nav-icon"></i></h2>
            <h5 class="center">Topics timeline</h5>

            <p class="light">We are using Akoma Ntoso legislative public acts available in <a href="http://www.legislation.gov.uk">www.legislation.gov.uk</a>. We have stored all the XML in a local eXist repository. Using NLP tools and fostering the AKN XML we have detected all the short titles and keywords. After we have extracted all the social topcis using Python and <a href="https://github.com/aneesha/RAKE">Rake</a>. Using these topics we are making an analysis how the social topics evolved over time through  the legislation. In this way we can see when some topics were managed by the Parliament and so how the society evolved in UK. A smart visual application is provided.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center primary-color-text"><i class="mdi mdi-account-multiple-outline"></i></h2>
            <h5 class="center">Team</h5>

            <p class="light">
              <ul>
                <li><a href="https://www.unibo.it/sitoweb/monica.palmirani/cv-en">Monica Palmirani</a></li>
                <li><a href="https://www.unibo.it/sitoweb/luca.cervone/cv-en">Luca Cervone</a></li>
                <li><a href="https://it.linkedin.com/in/octavian-bujor-6b436790">Octavian Bujor</a></li>
                <li><a href="https://www.linkedin.com/in/francescodraicchio">Francesco Draicchio</a></li>
              </ul>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center primary-color-text"><i class="mdi mdi-download"></i></h2>
            <h5 class="center">Dataset</h5>

            <p class="light">
              <ul>
                <li><a href="http://www.legislation.gov.uk">www.legislation.gov.uk</a></li>
                <li><a href="http://leggovuk.s3-website-eu-west-1.amazonaws.com/texts/enacted-epublished/akn/ukpga/index.htm">UK Public General Acts Dataset</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
</template>